{% extends 'base.html.twig' %}

{% block body %}
    <tr>
        <td style="text-align:center;">
            <p>Han solicitado el token con ID {{ id }} en físico.</p>
        </td>
    </tr>
{% endblock %}