{% extends 'base.html.twig' %}

{% block head %}
    <style>
        .boton-email {
            background-color: #F16E15;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition-duration: 0.4s;
        }

        .boton-email:hover {
            background-color: #E15E10;
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <tr>
        <td style="text-align:center;">
            <h1>Bienvenido a Drinksify, {{ name|capitalize }}.</h1>
            <p>¡Estamos encantados de tenerte con nosotros! Solo falta un paso más para completar tu registro.</p>
            <p>Haz clic en el botón a continuación para activar tu cuenta:</p>

            <a href="{{ url }}" class="boton-email">Activar Cuenta</a>
            <p>En caso de que el botón no funcione puedes hacer click en este enlace <a href="{{ url }}">{{ url }}</a></p>

            <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
        </td>
    </tr>
{% endblock %}