{% extends 'base.html.twig' %}

{% block body %}
    <tr>
        <td style="text-align:center;">
            <p>El usuario con email {{ email }} solicita la compra de toda la serie de vinos {{ name }} con id {{ id }}</p>
        </td>
    </tr>
{% endblock %}